POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/madeup_video?schema=public
API_PORT=3333
STOREFRONT_PORT=3000
ADMIN_PORT=3200
API_URL=http://127.0.0.1:3333
NEXT_PUBLIC_API_URL=http://127.0.0.1:3333
VITE_API_URL=http://127.0.0.1:3333
STOREFRONT_URL=http://localhost:3000
ADMIN_URL=http://127.0.0.1:3200
